{% extends 'base.html' %}

{% block title %}Manuela Alencar - Blog{% endblock %}

{% block content %}
    <section>
        <article class="blog-article">
            <h3>Como iniciar na programação</h3>
            <p>
                A programação é uma habilidade poderosa e cada vez mais valorizada no mercado de trabalho. Neste artigo, vamos dar algumas dicas e recursos para você começar seus estudos em programação.
            </p>
            <a href="/artigo/como-iniciar-programacao/">Leia mais...</a>
        </article>

        <article class="blog-article">
            <h3>As linguagens de programação mais populares em 2023</h3>
            <p>
                Descubra quais são as linguagens de programação mais populares neste ano e por que elas são tão demandadas pelas empresas e desenvolvedores.
            </p>
            <a href="/artigo/linguagens-populares-2023/">Leia mais...</a>
        </article>

        <article class="blog-article">
            <h3>Como se destacar como programador</h3>
            <p>
                Ser um programador competente é importante, mas também é essencial se destacar entre os demais profissionais da área. Conheça algumas estratégias para se destacar e alcançar sucesso na carreira de programador.
            </p>
            <a href="/artigo/como-se-destacar-como-programador/">Leia mais...</a>
        </article>
    </section>
{% endblock %}
