{% extends 'base.html' %}

{% block conteudo %}
<section>
    <h2>Sobre</h2>
    <p>Olá! Meu nome é Manuela Alencar, sou uma apaixonada por programação e tecnologia.</p>
    <p>Minha jornada na área de programação começou há alguns meses, quando decidi estudar ciência da computação no SENAC. Desde então, venho me aprimorando em diversas linguagens e tecnologias.</p>
    <p>Meu objetivo é criar sistemas inovadores e soluções inteligentes que possam impactar positivamente a vida das pessoas.</p>
</section>
{% endblock %}

